*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  rgb(253, 242, 221);
}

nav{
    display: flex;
    margin-left: 20px;
}

nav h3{
    font-family: 'Bodoni Moda', serif;
    font-size: 3em;
}

nav h3:nth-child(3){
    color: rgb(255, 60, 0);
    font-family: 'GFS Didot', serif;
}

nav h3:nth-child(6){
    color: rgb(255, 60, 0);
    font-family: 'GFS Didot', serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

header h1{
    font-family: 'vast shadow', sans-serif;
    font-size: 11em;
    color: #F1540E;
    text-shadow: 0 1px #d9e4e9, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93,
                -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5,
                -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93,
                -8px 7px #cdd2d5;
    letter-spacing: 20px; 
}

header h1:nth-child(1){
    transform: rotate(-30deg);
    animation: bounce 0.7s infinite alternate;
}

header h1:nth-child(2){
    transform: rotate(15deg);
    animation: bounce 1s infinite alternate;
}

header h1:nth-child(3){
    animation: bounce 0.7s infinite alternate;
}

header h1:nth-child(4){
    transform: rotate(-12deg);
    animation: bounce 1s infinite alternate;
}

header h1:nth-child(5){
    animation: bounce 0.7s infinite alternate;
}

header h1:nth-child(6){
    transform: rotate(12deg);
    animation: bounce 1s infinite alternate;
}

@keyframes bounce{
    0% {
         transform: translateY(0); 
        }
    100% {
        transform: translateY(-20px); 
    }
}

b{
    color: rgb(255, 60, 0);
    cursor: pointer;
}

b:hover{
    opacity: 0.5;
    text-decoration: underline;
}

u{
    color: rgb(255, 60, 0);
}

p{
    color: #000;
    font-size: 20px;
}

.text{
    text-align: center;
    margin-top: 20px;
    font-family: 'GFS Didot', serif;
    font-weight: bold;
    line-height: 2rem;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

button{
    padding: 18px 40px 18px 40px;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 60, 0);
    font-weight: bolder;
    font-size: 20px;
    font-family:'GFS Didot' serif;
    cursor: pointer;
    margin: 10px 40px 10px 40px;
}

button:hover{
    background-color: rgb(250, 162, 135);
}

i{
    margin-left: 5px;
}

@media all and (max-width: 900px){
    header h1{
        font-size: 6em;
    }
    p{
        letter-spacing: 1px;
        margin-right: 30px;
    }
    .btn{
        margin-top: 70px;
    }
    button{
        padding: 12px 35px 12px 35px;
        font-size: 14px;
        font-weight: bolder;
    }
}

@media all and (max-width: 450px) {
    nav{
        margin-left: 10px;
    }
    nav h3{
        font-size: 2em;
    }
    header h1{
        font-size: 3.7em;
        letter-spacing: 10px;
        font-weight: bolder;
    }
    .text{
        margin-top: 40px;
        margin-left: 10px;
    }
    p{
        letter-spacing: 2px;
        font-size: 25px;
        line-height: 40px;
    }
    button{
        padding: 15px 30px 15px 30px;
        font-size: 18px;
        font-weight: bolder;
    }
    .btn{
        display: grid;
        grid-template-rows: 1fr 1fr ;
    }
}

@media all and (max-width: 1500px) {
    header h1{
        font-size: 5em;
    }
    header{
        margin-left: 13px;
    }
    .text{
        margin-top: 40px;
        margin-left: 10px;
    }
    button{
        padding: 15px 27px 15px 27px;
        font-size: 12px;
    }
    body{
        overflow: hidden;
    }
}

.signinform{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.signin-form h1{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
}

.signin-form{
    max-width: 550px;
    padding: 10px;
    background-color: rgb(248, 215, 171);
    font-weight: bolder;
    border-radius: 10px;
}

.signin-form input[type=text], .signin-form input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-weight: bolder;
    outline: none;
}

.signin-form input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.signin-form .signinbtn{
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
}

.signin-form .cancelbtn{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
}

.signin-form .signinbtn:hover, .cancelbtn:hover{
    opacity: 1;
}